<!--
<configuration>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%-5level] [%thread][%logger] %msg%n"/>
　　<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
　　　　<encoder>
　　　　　　<pattern>${pattern}</pattern>
　　　　</encoder>
　　</appender>

　　<root level="DEBUG">
　　　　<appender-ref ref="CONSOLE" />
　　</root>
</configuration>-->
